table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 50%;
    border-collapse: collapse;
    border-radius: 5px;
}

th {
    text-align: left;
    font-weight: bold;
    color: #fff;
    background: #73685d;
}

thead {
    font-weight: bold;
    color: #fff;
    background: #73685d;
}

td, th {
    padding: 1em .5em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

a {
    color: #73685d;
}

input[type="text"], textarea {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 50%;
    border-collapse: collapse;
    border-radius: 5px;
}