<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.ItemMapper">
  <cache />

  <select id="getItemListByProduct" resultType="Item">
    SELECT
      I.ITEMID,
      I.PRODUCTID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5,
      I.USERNAME AS username2
    FROM ITEM I, PRODUCT P
    WHERE P.PRODUCTID = I.PRODUCTID
      AND I.PRODUCTID = #{value}
      AND I.ISAUCTION = 0
  </select>
  
  <select id="getItemListByUsername" resultType="Item">
    SELECT
      I.ITEMID,
      I.PRODUCTID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5,
      I.USERNAME AS username2
    FROM ITEM I, PRODUCT P
    WHERE P.PRODUCTID = I.PRODUCTID
      AND I.USERNAME = #{value,jdbcType=VARCHAR}
      AND I.ISAUCTION = 0
  </select>
  
    <select id="getAuctionItemListByUsername" resultType="Item">
    SELECT
      I.ITEMID,
      I.PRODUCTID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5,
      I.USERNAME AS username2
    FROM ITEM I, PRODUCT P
    WHERE P.PRODUCTID = I.PRODUCTID
      AND I.USERNAME = #{value,jdbcType=VARCHAR}
      AND I.ISAUCTION = 1
  </select>
  
  <select id="getItemListIsAuction" resultType="Item">
    SELECT
      I.ITEMID,
      I.PRODUCTID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5,
      I.USERNAME AS username2
    FROM ITEM I, PRODUCT P
    WHERE P.PRODUCTID = I.PRODUCTID
      AND I.ISAUCTION = 1
  </select>
<select id="getItem" resultType="Item">
    SELECT
      I.ITEMID,
      I.PRODUCTID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5,
      QTY AS quantity,
      I.ISAUCTION AS isAuction,
      I.DEPOSIT AS deposit,
      I.USERNAME AS username2,
      I.TIMESTATUS as timeStatus,
      I.CLOSINGTIME as closingTime
    FROM ITEM I, INVENTORY V, PRODUCT P
    WHERE P.PRODUCTID = I.PRODUCTID
      AND I.ITEMID = V.ITEMID
      AND I.ITEMID = #{value}
  </select>
  <select id="getInventoryQuantity" resultType="int">
    SELECT QTY AS value
    FROM INVENTORY
    WHERE ITEMID = #{itemId}
  </select>

  <update id="updateInventoryQuantity">
    UPDATE INVENTORY 
    SET QTY = QTY - #{increment}
    WHERE ITEMID = #{itemId}
  </update>
  
    <update id="updateAuctionItem" parameterType="Item">
    UPDATE ITEM SET
    ITEMID = #{itemId},
    PRODUCTID = #{productId},
      LISTPRICE = #{listPrice},
      UNITCOST = #{unitCost},
      ATTR1 = #{attribute1},
      CLOSINGTIME = #{closingTime},
      DEPOSIT = #{deposit}
    WHERE ITEMID = #{itemId}
  </update>
  
      <update id="updateItem" parameterType="Item">
    UPDATE ITEM SET
    ITEMID = #{itemId},
    PRODUCTID = #{productId},
      LISTPRICE = #{listPrice},
      UNITCOST = #{unitCost},
      ATTR1 = #{attribute1}
    WHERE ITEMID = #{itemId}
  </update>
  
  <update id="updateAuctionId" parameterType="AUCTION">
  	UPDATE ITEM
  	SET AUCTIONID = #{maxAuctionId}
  	WHERE ITEMID = #{itemId}
  </update>

   <update id="closeEvent" parameterType="Date">
    <![CDATA[
     UPDATE ITEM SET TIMESTATUS = 'CLOSE'
     WHERE CLOSINGTIME <= #{curTime} AND ISAUCTION = 1
    ]]>
  </update>

  <select id="getIsAuction" resultType="int">
  	SELECT ISAUCTION
  	FROM ITEM
  	WHERE ITEMID = #{itemId}
  </select>
  
  <insert id="insertQuantity">
  	INSERT INTO INVENTORY(ITEMID, QTY)
  	VALUES(#{param1}, #{param2})
  </insert>
  
   <insert id="insertAuctionItem" parameterType="Item">
        <!-- <selectKey keyProperty = "auctionId" resultType = "int" order = "BEFORE">
  			SELECT auctionnum.nextval AS auctionId FROM DUAL
  	    </selectKey> -->
    INSERT INTO ITEM
      (ITEMID, PRODUCTID, LISTPRICE, UNITCOST, SUPPLIER, STATUS, ATTR1, ISAUCTION, AUCTIONID, USERNAME, CLOSINGTIME, TIMESTATUS, DEPOSIT)
    VALUES
      (#{itemId}, #{productId}, #{listPrice}, #{unitCost}, #{supplierId,jdbcType=VARCHAR}, #{status}, #{attribute1}, #{isAuction}, #{auctionId,jdbcType=VARCHAR}, #{username2,jdbcType=VARCHAR}, #{closingTime}, 'OPEN', #{deposit,jdbcType=VARCHAR})
  </insert>
  
    <insert id="insertItem" parameterType="Item">
    INSERT INTO ITEM
      (ITEMID, PRODUCTID, LISTPRICE, UNITCOST, SUPPLIER, STATUS, ATTR1, ISAUCTION, USERNAME)
    VALUES
      (#{itemId}, #{productId}, #{listPrice}, #{unitCost}, #{supplierId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{attribute1}, #{isAuction}, #{username2,jdbcType=VARCHAR})
  </insert>
  
  <delete id="deleteItem" parameterType="String">
  DELETE 
  FROM ITEM
  WHERE ITEMID = #{itemId}
  </delete>
   <select id="searchItemList" resultType="Item">
   SELECT       ITEMID,       PRODUCTID,            
USERNAME AS username2,       ATTR1 AS attribute1 
FROM ITEM    WHERE lower(itemId)  like #{value}
  </select>
</mapper>