<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.SequenceMapper">
  <cache />

  <select id="getSequence" resultType="Sequence">
    SELECT name, nextid
    FROM SEQUENCE
    WHERE NAME = #{name}
  </select>
      
  <select id="getOracleSequence" resultType="Sequence">
    select '$name$' as name, $name$.nextval as nextid from dual
  </select>
   
  <update id="updateSequence">
    UPDATE SEQUENCE
    SET NEXTID = #{nextId}
    WHERE NAME = #{name}
  </update>

</mapper>